


.editor-block-list__block,
.editor-block-list__block p {background-color:#ffffff; color:#000000;}
.editor-block-list__block h1,
.editor-block-list__block h2,
.editor-block-list__block h3,
.editor-block-list__block h4,
.editor-block-list__block h5,
.editor-block-list__block h6 {color:#000000;}
.editor-post-title__block textarea {color:#000000; background-color:#ffffff;}
.editor-block-list__block a,
.editor-block-list__block strong,
.editor-block-list__block b,
.editor-block-list__block b a,
.editor-block-list__block strong a {color:#719430;}
.editor-block-list__block {font-family:'helvetica neue', Helvetica, Arial, sans-serif;}
