/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */


/* General Custom CSS */

*:not(.fa) {
    font-family: 'system-ui' !important;
}

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.av_main_nav_header {
    border-bottom: 1px solid #FFF;
}

#header .current-menu-item a {
    font-weight: 700 !important;
}

.html_av-overlay-side #top .av-burger-overlay-scroll {
    background: #000 !important;
}

.av_main_nav_header #menu-item-search {
    border-left: 1px solid #FFF;
}

.avia-menu .av-main-nav-wrap {
    margin-right: 20px;
}

.av_main_nav_header img {
    top: 15px;
    filter: invert(1);
}

.header-scrolled img {
    top: 0px !important;
    filter: invert(0);
}

#top .av_header_transparency .header_bg {
    background: transparent !important;
}

.header-color .header_bg {
    background: transparent !important;
}

.avia-menu-text {
    color: #FFF;
}

.header-scrolled .avia-menu-text {
    color: #000;
}

.header-scrolled .main_menu ul:first-child>li>a {
    color: #000 !important;
}

.section-banner {
    background-image: linear-gradient(#00000085, #00000085), url('../images/layout/intro.jpg');
    height: 130vh;
    background-size: 100% 100%;
    position: relative;
}

.section-banner .scroll-down {
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 45px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    animation: slide2 1s ease-in-out infinite;
    cursor:pointer
}

@keyframes slide2 {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0px, 10px);
    }
}

.section-banner h1 {
    font-size: 3rem;
}

.section-banner h1:first-child {
    margin-bottom: 0.5rem;
    margin-top: 12rem;
}

.section-banner h5 {
    font-weight: normal;
    font-size: 15px;
}

section .btn {
    border-radius: 2px;
}

section .btn:hover {
    text-decoration: none;
}

.section-introduction {
    background-color: #f8f8f8;
}

.section-introduction h1:first-child {
    font-weight: 100;
}

.section-introduction p {
    font-size: 15px;
}

.section-introduction hr {
    height: 5px;
    background: #000;
    width: 36px;
    margin: auto;
}

.section-activities h1:first-child {
    font-weight: 100;
}

.section-activities p {
    font-size: 15px;
}

.section-activities img {
    border: 2px solid;
    padding: 20px;
    border-radius: 50%;
    height: 100px;
}

.section-middle-banner {
    background-image: linear-gradient(#00000085, #00000085), url("../images/layout/middlebanner.jpg");
    height: 50vh;
    background-size: 100% 100%;
}

.section-contact {
    background-color: #a6c8d0;
    height: 50vh;
    background-size: 100% 100%;
}

.section-contact h1 {
    font-weight: 100;
}

.section-contact h5 {
    font-weight: normal;
    font-size: 15px;
}

.section-contact .btn {
    border-radius: 2px;
}

.section-activities .col-12 .card {
    border: none;
    border-radius: 0;
    font-weight: 100;
    color: #fff;
}

.section-activities .col-12 .card-title {
    font-weight: 100;
}

.section-activities .col-12 .card-first {
    background-color: #ccdfe4;
}

.section-activities .col-12 .card-second {
    background-color: #a6c8d0;
}

.section-activities .col-12 .card-third {
    background-color: #80afbb;
}

.section-carousel .col-12:first-child {
    text-align: right;
}

.section-carousel .card {
    border: none;
    border-radius: 0px;
}

.section-carousel .card-body {
    padding-left: 0px;
}

.section-carousel p {
    font-size: 15px;
}
/* ////////////////////////////////// */

.plastische-banner {
    background-image: url('../images/layout/Rosacea.jpg');
    height: 75vh;
    background-size: 100% 100%;
}

.plastic-surgery {
    background-color: #f8f8f8;
}

.plastic-surgery hr {
    height: 5px;
    background: #000;
    width: 36px;
    margin: auto;
}

.plastic-surgery p {
    font-size: 15px;
}

.section-overview hr {
    height: 5px;
    background: #000;
    width: 36px;
    margin: auto;
}

.plastic-surgery h1 {
    font-weight: 100;
}

.section-overview h1 {
    font-weight: 100;
}

.accordion-button::after {
    background-image: none !important;
}

.accordion-button::before {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 10px;
    content: "";
    background-image: url("../images/layout/minus.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button.collapsed::before {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 10px;
    content: "";
    background-image: url("../images/layout/plus.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #FFF;
}

.footer {
    background-color: #ccdfe4;
}

.footer>col-lg-3 {
    text-align: left;
}

.accordion-button {
    border-bottom: 2px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: bold;
}

.accordion-button {
    background: white;
}

.section-overview .border-dark:hover {
    background-color: #a6c8d0;
    color: #FFF;
}

.section-spectrum h1 {
    font-weight: 100;
}

.section-spectrum hr {
    height: 5px;
    background: #000;
    width: 36px;
    margin: auto;
}

.section-spectrum p {
    font-size: 15px;
}

.section-spectrum button {
    border-width: 2px !important;
    border-radius: 0px !important;
    font-weight: 500;
}
.section-spectrum .row .col-12 {
    min-width: 600px;
}

.btn-spectrum-active {
    background: rgb(166, 200, 208);
    color: rgb(255, 255, 255);
    border-color: #FFF !important;
}

#section-line-hide {
    display: none;
}

#section-line-show {
    display: block;
}
/* //////////////////////////////////// */

.btn-spectrum {
    position: relative;
}

.btn-spectrum.active:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -37px;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.p-border {
    border-bottom: 2px solid #000;
}

p.line button {
    margin-right: 10px;
}



.carousel-indicators [data-bs-target] {
    width: 60px;
    margin-right: 5px;
    margin-left: 5px;
}

/*
Desktop Styles
================================================== */


/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
    /* Add your Desktop Styles here */
}


/*
Mobile Styles
================================================== */


/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
    #top #wrap_all .av_header_transparency {
        background-color: #000 !important;
    }
    p.line button {
        margin-right: 0px;
    }
    p.line button.btn {
        padding: 0px 3px;
    }
    .section-banner {
        height: auto;
        padding-bottom: 90px;
    }
    .section-banner h1 {
        font-size: 2rem;
    }
    .section-activities img {
        padding: 5px;
        height: 60px;
    }
    .section-spectrum .row .col-12 {
        min-width: 100%;
    }
    .section-banner::after {
        left: 45%;
    }
}