/*
Theme Name: Riml Aesthetics
Author: Eztk
*/

body{
    background-color: #000;
    color:#FFF;
    height: 2000px;
}
header{
    background-color: #e7e7e7;
    width: 100%;
    height: 100px;
}
.card-body{
    background-color: burlywood;
    color: darkslateblue;
}